# cppcompiler directory
cppcompiler/.build/
cppcompiler/lang
cppcompiler/lang.exe
cppcompiler/program
cppcompiler/program.a
cppcompiler/program.exe
cppcompiler/kernel32.lib
doc/*
!doc/*.tex
!doc/*.md
